@model RuychWeb.Areas.Admin.Models.AccountCreateViewModel

<h3>Thêm tài khoản</h3>

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Mật khẩu</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label">Nhập lại mật khẩu</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Thêm tài khoản</button>
</form>
<a href="@Url.Action("Index", "Infor", new { area = "Admin" })">Quay về danh sách</a>
