@{
    ViewData["Title"] = "Trang Báo Cáo Thống Kê";
}

<div class="container mt-5">
    <h2 class="mb-4">Báo Cáo Thống Kê</h2>

    <div class="row">
        <div class="col-md-3 mb-4">
            <a href="@Url.Action("Revenue", "Report")" class="btn btn-primary btn-block">
                Doanh thu
            </a>
        </div>

        <div class="col-md-3 mb-4">
            <a href="@Url.Action("TotalImportCost", "Report")" class="btn btn-primary btn-block">
                Tổng chi phí nhập hàng
            </a>
        </div>

        <div class="col-md-3 mb-4">
            <a href="@Url.Action("TopSellingProducts", "Report")" class="btn btn-primary btn-block">
                Sản phẩm bán chạy
            </a>
        </div>

        <div class="col-md-3 mb-4">
            <a href="@Url.Action("StockReport", "Report")" class="btn btn-primary btn-block">
                Sản phẩm tồn kho
            </a>
        </div>

    </div>
</div>
