@model RuychWeb.Models.DTO.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<section id="reset-password">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="reset-password-form">
                    <h2>Reset Password</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="ResetPassword" method="post">
                        <div class="form-group">
                            <label>New Password</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />
                        <button type="submit" class="btn btn-default">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>